<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InfoPacienteServlet</servlet-name>
        <servlet-class>com.proyectomedicowebapp.servlets.InfoPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecetaServlet</servlet-name>
        <servlet-class>com.proyectomedicowebapp.servlets.RecetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoPacientesServlet</servlet-name>
        <servlet-class>com.proyectomedicowebapp.servlets.InfoPacientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecetasServlet</servlet-name>
        <servlet-class>com.proyectomedicowebapp.servlets.RecetasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitasServlet</servlet-name>
        <servlet-class>com.proyectomedicowebapp.servlets.CitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvioCitaServlet</servlet-name>
        <servlet-class>com.proyectomedicowebapp.servlets.EnvioCitaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoPacienteServlet</servlet-name>
        <url-pattern>/InfoPacienteServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecetaServlet</servlet-name>
        <url-pattern>/RecetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoPacientesServlet</servlet-name>
        <url-pattern>/InfoPacientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecetasServlet</servlet-name>
        <url-pattern>/RecetasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitasServlet</servlet-name>
        <url-pattern>/CitasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvioCitaServlet</servlet-name>
        <url-pattern>/EnvioCitaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
